/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - gap: [Row Gap] [Column Gap]
  - justify-content
  - align-content  
   Child
  - grid-column: [Grid-Column-Start] [Grid-Column-End]
  - grid-row: [Grid-Row-Start] [Grid-Row-End]
*/

* {
  box-sizing: border-box;
}

body {
  font-family: work-sans, sans-serif;
}

/*End Global Ruls*/
.parent {
  background-color: #eee;
  /* width: 600px;
  margin: auto; */
}

.con {
  width: 600px;
  margin: auto;
  background-color: #aaa;
}