/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Fraction, Repeat, Mix]
  - gap: [Row Gap] [Column Gap]
  - justify-content
  - align-content
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    height: 100vh;
    display: grid;
    background: #eee;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "logo logo logo nav nav nav nav nav nav nav"
        "cont cont cont cont cont cont cont side side side"
        "fot fot fot fot fot fot fot fot fot fot";
}

h2 {
    background-color: red;
    text-align: center;
    /* padding: 10px; */
    color: white;
    grid-area: logo;

}

ul {
    color: white;
    /* list-style: none; */
}

ul li {
    display: inline-block;
}

nav {
    grid-area: nav;
    background-color: blue;
}

section {
    grid-area: cont;
    background-color: green;
}

aside {
    grid-area: side;
    background-color: mediumslateblue;
}

footer {
    background-color: black;
    color: white;
    grid-area: fot;
}